.chatManager {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.chatWindow {
  width: 300px;
  height: 500px;
  border: 1px solid black;

  margin: 10px;
  padding: 0px 3px 1px 3px;

  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.chatMenu {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  
  width:100%;
  font-size: 1rem;
}

.chatMenu button {
  border: 2px solid whitesmoke;
  background-color: thistle;
  color: whitesmoke;
}
.chatMenu button:hover {
  background-color: rgb(228, 219, 228);
}

.inviteModalContainer {
  position:relative;
  background-color: black;
  width: 100%;

  display:flex;
  flex-flow: column;
  align-items: center;
}
.inviteModalBackground {
  position:absolute;
  width:100%;
  height:500px;
  bottom: 0px;
  background-color: rgba(10,10,10,0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}
.inviteModal {
  position:absolute;
  width:60%;
  
  
  border: 1px solid rgb(163, 172, 184);
  background-color: azure;
  text-align: center;
  color:rgb(66, 73, 79);
}
.friendsList {
  display:flex;
  flex-flow: column;
  align-items: center;
  padding:0;
  width:100%;
}
.friendsList li{
  list-style: none;
  width:50%;  
}
.friendsList li button{
  width:100%;
  border: 2px solid steelblue;
  background-color: skyblue;
}
.friendsList li button:hover{
  background-color: rgb(178, 220, 236);
}


.chatDisplay {
  flex-basis : 80%;
  border: 1px solid black;

  background-color: white;
  width:100%;
  height:100%;
  overflow: auto;
  display:flex;
  flex-flow:column;
  align-content: flex-start;
}

.myChatBox {
  padding: 10px;
  align-self: flex-end;

  display:flex;
}
.myChat {
  background-color:pink;
  font-weight: bold;
  font-size: 1rem;
  
  word-break: break-all;
  padding: 5px;
  border-radius: 6px;
}

.notMyChatBox {
  padding: 5px;
  display:flex;
}
.notMyChat {
  background-color:cornflowerblue;
  font-weight: bold;
  font-size: 1rem;

  word-break: break-all;
  padding: 5px;
  margin-left:5px;
  border-radius: 6px;
}

.adminChatBox {
  width: 90%;
  align-self: center;
}
.adminChat {
  background-color: rgba(10,10,10,0.3);  
  color:whitesmoke;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  text-align: center;
 }

.anotherName {
  color:black;
  background-color: azure;
  border: 1px solid slategray;
  border-radius: 5px;
  padding:2px;
  height:1rem;
}
.transAnotherName {
  color:transparent;
  border: 1px solid transparent;
  padding:2px;
  height:1rem;
}



.chatBar {
  width:100%;
  display:flex;
  justify-content: space-between;
}
.chatInput {
  flex-basis:76%;
}
.chatInput input {
  width:100%;
}
.chatRegisterBtn {
  flex-basis:20%;
}
.chatRegisterBtn button {
  border: 2px solid whitesmoke;
  color:whitesmoke;
  background-color: seagreen;
  width:100%;
}